/* *{
  margin: 0;
  border: 0;
} */

* {
  font-family: "Poppins", sans-serif;
}

.gutters {
  margin: 0 6em;
}

.footer-gutters {
  padding: 0 10em;
}




.footer {
  background-color: #007dc1;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  color: #ffffff;
}

.footer-social-media {
  font-size: 1.5em;
}

.footer-apps img {
  /* width: 8em; */
}

.footer-apps {
  flex-direction: column;
}

.footer-apps-container {}

.footer-apps-child a img {
  width: 50%;
}





/*****MEDIA QUERY****/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 480px) {

  .footer-gutters {
    padding: 0 1em;
  }

  .banner-section {
    padding: 0 !important;
  }

  .footer-contact {
    font-size: 14px;
  }

  .footer-apps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  .footer-apps {
    flex-direction: row;
    justify-content: center;
  }

  .footer-apps-child {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .footer-apps-child a {
    padding: 10px;
  }

  .footer-apps-child a img {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media screen and (992px <=width <=1024px) {
  .footer-gutters {
    padding: 0 4em;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {}