@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background:  #F4F6FA ;
}


/* <!--<<<<<< page one styling starts here>>>>>>>> --> */

.body__wrapper{
    width: 55%; 
    padding-left: 9%;
    
    padding-top:5%;
    background: #FFFFFF;
    margin-bottom:12%;
    margin-left: 17%;
    padding-bottom: 10%;
}





.pageonebottom__line{
border-bottom: 2.5px solid  #E6EBF1;
margin-right: 15%;
margin-top: 4%;
margin-bottom: 5%;
}



/* <!-- <<<<<<< page two styling >>>>>>>>> --> */
.pagetwo__paragraph
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    /* color: #03273B;  */
  
}



.inspectiondetails__para{
  padding-top: 4%;
}


.inspection__details{
  display: flex;
  gap: 17%;
  /* padding-top: 2%; */
  /* flex-direction: column; */
}



.mainspan{
color: #007DC1;
}

.gf
span{
  color: #007DC1 !important;
}


.property__span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 119.2%;
  
  color: #007DC1;
}



.pagetwo__paragraph{
    /* padding-bottom: 5%; */
    padding-left: 6%;
    padding-top: 1.5%;
}


/* <!-- <<<<<<<<<<< page three styling >>>>>>>>>>>. --> */
.proceed__btn{
    background: #007DC1;
    border-radius: 7px;
    width: 70%;  
    padding: 1.5% 0%;
    margin-left: 6%;

    font-family: 'Poppins';

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 119.2%;
    border: none;


    color: #FFFFFF;
}



.small__smallteam{
    padding-top:4%;
    padding-bottom: 4%;
    padding-left: 5%;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #03273B;
}



.talk__tous{
    flex-direction: column;
    padding-left:25% ;
    padding-top: 5%;

}


.talk{
    padding-left:15% ;
}



.talkto__phone{
    padding-left:4% ;
}


.talk__tous
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #03273B;
}



.secondline_break{
    border-bottom: 2.5px solid  #E6EBF1;
    margin-right: 15%;
    margin-top: 4%;
    margin-bottom: 5%;
    }
    

    /* <!-- <<<<<<<< page four styling >>>>>>>>>> --> */
  .smallamall__address{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #BABABA;
  }  



  .download__links{
    padding-left:20% ;
    padding-top: 2%;
  }



  .download__links
  p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;  
    display: flex;
    padding-left: 16.5%;
    color: #03273B;
  }



 .downloadapp__button{
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 2%; */
 } 


  .downloadapp__button
  button{
    background: #FFFFFF;
    border: 1px solid #007DC1;
    border-radius: 30px;
    padding-left: 3.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2.5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #03273B;
    /* width: 50%; */

  }



.followus__gendiv{
    padding-left: 24%;
    padding-top: 8%;
}


 .followus__parag{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding-left: 18%;
   
   
    display: flex;
    align-items: center;
    
    color: #03273B; 
 } 


 .followus__socials{
   display: flex;
   gap: 9%;
   margin-top: 5%;
 }




 @media screen and (max-width: 480px){
  .logo_img{
   width: 70%;
  }

  .pagetwo__paragraph p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #03273B;
    font-size: 2.9vw;
 }



 .pagetwo__paragraph{
  /* padding-bottom: 5%; */
  padding-left: 0%;
  padding-right: 1%;
  padding-top: 1.5%;
}



.property__span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 2.9vwpx;
  color: #007DC1;
}



br{
  display: none;
}


 .proceed__btn {
  background: #007DC1;
  border-radius: 7px;
  width: 70%;
  padding: 1.5% 0%;
  margin-left: 6%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 119.2%;
  border: none;
  color: #FFFFFF;
  padding: 2.5% 1%;
}


.inspection__details {
  display: flex;
  gap: 9%;
}


.pagetwo__paragraph p {
 
  color: #03273B;
  font-size: 2.9vw;}



.small__smallteam{
  font-size: 2.5vw;
} 

.talk__tous p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 2.3vw;
}


.talk__tous {
  flex-direction: column;
  padding-left: 7%;
  padding-top: 5%;
}


.talkto__phone {
  padding-left: 9%;
}



.talk {
  padding-left: 25%;
}


.smallamall__address {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 2.2vw;
}


.body__wrapper {
  width: 70%;
  padding-left: 9%;
  padding-top: 5%;
  background: #FFFFFF;
  margin-bottom: 12%;
  margin-left: 11%;
  padding-bottom: 16%;
}



.download__links p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
  }


  .download__links p {
    padding-left: 23%;

  }


  .downloadapp__button
  img{
   width: 10%;
  }

  .downloadapp__button
  button{
    font-size: 2.5vw;
   
  }


  .download__links {
    padding-left: 0%;
    padding-top: 2%;

}




.followus__parag {
padding-left: 23%;
}


.followus__gendiv {
  padding-left: 10%;
}



 }


