/* *{
  margin: 0;
  border: 0;
} */

* {
  font-family: "Poppins", sans-serif;
}

.gutters {
  margin: 0 6em;
}

.primary-text-color {
  color: #050505;
}

.primary-text-color a {
  color: #414042 !important;
}

.dropdown-toggle--custom::after {
  display: none !important;
}

/*.banner-section {*/
  /* background: linear-gradient(180.1deg, #03100D 0.08%, rgba(65, 64, 66, 0) 80.25%, rgba(65, 64, 66, 0) 80.25%); */
/*}*/

/*.banner-image {*/
  /* background: url("../../images/banner.png") no-repeat center,
    linear-gradient(143.43deg, #03100D -94.27%, rgba(65, 64, 66, 0) 79.12%, rgba(65, 64, 66, 0) 79.22%, rgba(65, 64, 66, 0) 79.35%); */
/*  background: url("https://raw.githubusercontent.com/SmallSmall-Technology/RSS-UIUX-Updated-Website-2023/dev/assets/images/banner.png") no-repeat center,*/
/*    linear-gradient(12.43deg, #03100D 12.73%, rgba(65, 64, 66, 0) 79.12%, rgba(65, 64, 66, 0) 79.22%, rgba(65, 64, 66, 0) 74.35%);*/

/*  background-blend-mode: overlay;*/
/*  background-size: cover;*/
/*  height: 568px;*/
/*  position: relative;*/
/*  border-radius: 20px;*/
/*}*/



/*.banner-text {*/
/*  text-align: left;*/
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
/*  color: white;*/
  /* width: 60% */
/*}*/


.banner-text {
  text-align: left;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  color: white;
  /* width: 60% */
}

.banner-text h1 {
  font-size: 50px;
  font-weight: 800;
}

.banner-text p {
  font-size: 20px;
  font-weight: 300;
}

.main-section {
  position: relative;
  top: 7em;
}

.expect-section {}

.expect-section h1 {
  font-weight: 700;
}

.card-custom {
  border: none;
}

.faq-section h1 {
  font-weight: 700;
}

.faq-section h3 {
  font-weight: 500;
}

.card-header-custom {
  border-radius: 10px !important;
  border: none;
  background: #eaf9ff;
}

.card-header-custom button {
  color: #414042;
}


.ready-partner {
  margin: 8em 0;
}



.proud-satistics-container {
  background: linear-gradient(96.72deg, #007DC1 34.25%, rgba(34, 110, 152, 0) 208.82%);
  border-radius: 18px;
  color: #ffffff;
  padding: 5em 1.5em;
  margin: 2em;
}

.proud-satistics-container p {
  margin: 0
}

.proud-satistics-text p:first-child {
  font-weight: 700;
  font-size: 50px;
  line-height: 55.75px;
  /* color: #414042; */
}

.proud-satistics-text p:last-child {
  font-weight: 400;
  font-size: 25px;
  /* color: #414042; */
}

.proud-satistics-figure p:first-child {
  font-weight: 700;
  font-size: 96px;
  line-height: 90px;

}

.proud-satistics-figure p:last-child {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}


.proud-satistics-figure__border {
  border-right: 1px solid #007dc1;
}

.ready-partner-container {
  background: linear-gradient(147.48deg, #007dc1 17.99%, #000000 80.53%);
  padding: 6em 0;
  border-radius: 10px;
}

.ready-partner-btn {
  background: #007dc1;
  border-radius: 8px;
  color: #ffff;
  padding: 1em 2.5em;
}

.partners-section h1 {
  font-weight: 600;
  font-size: 35px;
}

.proud-statistic-divider {
  width: 80%;
  background: #007dc1;
  height: 1px;
  margin-bottom: 1em;
}

/*****MEDIA QUERY****/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 480px) {
  .banner-section {
    padding: 0 !important;
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;

  }

  .banner-image {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .banner-text {
    width: 100% !important;
  }

  .banner-text h1 {
    font-size: 2em;
  }

  .banner-text p {
    font-size: 1em;
    font-weight: 100;
  }




  .ready-partner {
    margin: 0;
  }

  .ready-partner-container {
    padding: 4em 0;
  }

  .ready-partner-container h1 {
    font-size: 2em;
  }

  .expect-section h1 {
    font-size: 1.2em;
  }

  .expect-section h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
  }

  .expect-section h5 {
    font-size: 16px;
    font-weight: 500;
  }

  .expect-section p {
    font-size: 14px;
    font-weight: 200;
  }

  .faq-section h1 {
    text-align: center;
    font-size: 1.5em;
  }

  .faq-section p {
    text-align: center;
  }



  .proud-satistics-container {
    margin: 0;
    padding: 2em 1em;
  }

  .proud-satistics-text {
    margin: 1em 0
  }

  .proud-satistics-text p:first-child {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    /* color: #414042; */
  }

  .proud-satistics-text p:last-child {
    font-weight: 400;
    font-size: 20px;

    /* color: #414042; */
  }

  .proud-satistics-figure {
    margin-right: 10px;

  }

  .proud-satistics-figure p:first-child {
    font-weight: 700;
    font-size: 45px;
    line-height: unset;

  }

  .proud-satistics-figure p:last-child {
    font-weight: 300;
    font-size: 18px;
    line-height: unset;
  }


  .footer-contact {
    font-size: 14px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media screen and (768px <=width <=992px) {
  .proud-satistics-text p:first-child {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* color: #414042; */
  }

  .proud-satistics-text p:last-child {
    font-weight: 400;
    font-size: 16px;
    /* color: #414042; */
  }

  .proud-satistics-figure p:first-child {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;

  }

  .proud-satistics-figure p:last-child {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media screen and (992px <=width <=1024px) {
  .footer-gutters {
    padding: 0 4em;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {}