.verify-body {
  font-size: 13px;
  font-weight: 300;
}

.verify-me {
  font-size: 26px !important;
  font-weight: 700;
  color: #414042;
}

.verify-number {
  font-size: 20px;
  color: #007DC1;
  font-weight: 700;
}

.verify-title {
  color: #414042;
  font-size: 36px;
  font-weight: 700 !important;
}

.customized-select {
  border: 1px solid #D1CECE;
  border-radius: 5px;
  padding: .8em;
  cursor: pointer;
}

.customized-select select {
  border: none;
  padding: none;
  cursor: pointer;
}

.customized-select input {
  border: none;
  padding: none;
  cursor: pointer;
}

.verify-btn {
  background: #007DC1;
  border-radius: 5px;
  color: #ffffff;
}

.verify-btn:hover {
  background: #025784;
  border-radius: 5px;
  color: #ffffff;
}

.verified-btn {
  border: 1px solid #00CD2D;
  border-radius: 5px;
}








/*****MEDIA QUERY****/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 480px) {
  .verify-title {
    font-size: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media screen and (992px <=width <=1024px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {}