.current-booking {
  background: #F6F7F8;
  border-radius: 10px;
  padding: 4em;
}

.subscription-btn {
  background: #007DC1;
  border-radius: 4px;
  min-width: 211px;
  color: #ffffff
    /* padding: 2em; */
}


.wallet-btn {
  background: #EDEDEF;
  border-radius: 4px;

}