.current-booking {
  background: #F6F7F8;
  border-radius: 10px;
  padding: 4em;
}

.subscription-btn {
  background: #222224;
  border-radius: 4px;
  min-width: 211px;
  color: #ffffff
  /* padding: 2em; */
}


.wallet-btn {
  background: #EDEDEF;
  border-radius: 4px;

}
.btn-dark a{
    color:#FFF;
    text-decoration:none;
}