/* top menu */


/*.accordion-button{
    box-shadow: none !important;
    padding: 20px 15px 20px 0;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 31px;
    color: #414042;
  }
  .accordion-item{
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #D1CECE;
  }
  .accordion-button:not(.collapsed){
    background: #007DC1;
    border: 0 !important;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
  }
  .accordion-body{
    background: #007DC1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 165.92%;
    padding: 0 50px 20px;
  }
  */
@media (min-width: 768px) and (max-width:1200px ){
    .hero-heading-faq, .hero-text-faq{
        width: 100%;
    }
}
@media screen and (max-width:767px) {
    .top-menu{
        padding-bottom: 50px;
    }
    .hero-header-faq{
        padding: 200px 0 0;
    }
    .hero-heading-faq, .hero-sub-text{
        width: 100%;
    }
    .hero-heading-faq{
        font-size: 40px;
        line-height: 40px;
        width: 100%;
        padding: 20px 10px;
    }
    .hero-sub-text{
        font-size: 21px;
        line-height: 25px;
        width: 100%;
        padding: 20px 10px;
    }
    .hero-button{
        width: 50%;
        margin: 10px;
    }
    .subscriber, .subscriber-container{
        margin: 0;
    }
    .subscriber-title{
        font-size: 35px;
    }
    .work-grid{
        margin: 0;
    }
    .manage{
        margin: 50px 0;
    }
    .faq-container{
        margin: 0;
    }
    .faq{
        margin: 0;
    }
    .scores{
        margin: 10px;
    }
    .scores .row{
        padding: 15px 25px;  
    }
    .scores-title{
        font-size: 36px;
        line-height: 43px;
    }
    .scores-body{
        font-size: 18px;
        line-height: 21px;
    }
    .partner{
        margin: 30px 10px;
    }
    .partner .row{
        padding: 15px 25px;  
    }
    .partner-title{
        font-size: 36px;
        line-height: 43px;
    }
    .partner-body{
        font-size: 18px;
        line-height: 21px;
    }
    .feedback{
        margin: 150px 0;
    }
    .footer{
        padding: 50px 0px 50px 50px;
    }
}