.message-container {
  /* background: #F3F6F8; */
  border-radius: 15px;
  cursor: pointer;
}
.message-container:hover {
  /* background: #F3F6F8; */
  border-radius: 15px;
  cursor: pointer;
  color: #007DC1;
}

.message-container-border{
  border-bottom: 1px solid #DADADA;
  padding: 0.5em 0;
}

.message-container--latest {
  background: #F3F6F8;
  border-radius: 15px;
  cursor: pointer;
  color: #007DC1
}

.bss-btn {
  background: #9BD7F6;
  border-radius: 50%;
  color: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;

}

.msg-icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #D9D9D9
}